{{- $git := get . "git" | default (dict) -}}
{{- $paths := get . "paths" | default (dict) -}}
{{- $gitName := or (get $git "name") "gakkyTaihasoeru" -}}
{{- $gitEmail := or (get $git "email") "gakky.taihasoeru@gmail.com" -}}
{{- $gitSigningKey := or (get $git "signingkey") "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPEdA62Ic8Ss32IkYxOCLM0bpJ5CxzFXNKn1zOSQ3MgO" -}}
{{- $ghqRoot := or (get $paths "ghqRoot") (printf "%s/work/ghq" .chezmoi.homeDir) -}}
[core]
	editor = nvim
	commentChar = >
	quotepath = false
	pager = delta
	excludesfile = {{ printf "%s/.gitignore" .chezmoi.homeDir | quote }}

[user]
	name = {{ $gitName | quote }}
	email = {{ $gitEmail | quote }}
	signingkey = {{ $gitSigningKey | quote }}

[commit]
	gpgsign = true
	verbose = true

[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[init]
	defaultBranch = main

[merge]
	ff = false
	conflictStyle = zdiff3

[pull]
	ff = only
	rebase = false

[push]
	default = current
	autoSetupRemote = true
	followTags = true

[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true

[fetch]
	prune = true
	pruneTags = true
	fsckObjects = true

[transfer]
	fsckObjects = true

[receive]
	fsckObjects = true

[branch]
	sort = -committerdate

[rerere]
	enabled = true
	autoUpdate = true

[diff]
	algorithm = histogram
	colorMoved = default
	colorMovedWS = allow-indentation-change

[delta]
	navigate = true
	dark = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Catppuccin Mocha

[tag]
	sort = version:refname

[interactive]
	diffFilter = delta --color-only

[column]
	ui = auto

[help]
	autocorrect = prompt

[ghq]
	root = {{ $ghqRoot | quote }}
